@font-face {
	font-family: 'Kleader';
	src: url('./fonts/Kleader.ttf') format('truetype');
}

@font-face {
	font-family: 'WestCarabao';
	src: url('./fonts/WestCarabao-Regular.ttf') format('truetype');
}

main {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #180c01;
  width: 100vw;
  height: 100vh;
}
  
.content {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
button {
  width: 272px;
  margin: 16px;
  padding: 0.8em 2.8em;
  color: #f7f1eb;
  background: transparent;
  /* background-size: 4px 3px; */
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  font-family: 'WestCarabao', serif;
  font-size: 1.2rem;
}


/* -------------------------------------------------------- */
/*      Button 1                                            */
/* -------------------------------------------------------- */
.button-1 {
  border-radius: 16px 225px 255px 16px 16px 255px 225px 16px;
  border: solid 3px #924f09 !important;
  border-bottom-left-radius: 8px 216px;
  border-bottom-right-radius: 216px 8px;
  border-top-left-radius: 216px 8px;
  border-top-right-radius: 16px 216px;
}
  
/* -------------------------------------------------------- */
/*      Button 2                                            */
/* -------------------------------------------------------- */
.button-2 {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border: solid 3px #924f09 !important;
  border-bottom-left-radius: 8px 216px;
  border-bottom-right-radius: 216px 8px;
  border-top-left-radius: 216px 8px;
  border-top-right-radius: 16px 216px;
  z-index: 1;
}
  
.button-2:before,
.button-2:after {
  content: '';
  position: absolute;
  /* width: 20px;
  height: 20px; */
  background-color: #924f09;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
  
.button-2:before {
  width: 8px;
  height: 8px;
  left: -20px;
  transform: translate(-50%, 8%);
}
  
.button-2:after {
  width: 48px;
  height: 48px;
  right: -32px;
  transform: translate(50%, -24%);
}

.button-2:hover:before {
  animation: criss-cross-left 0.8s both alternate;
}
  
.button-2:hover:after {
  animation: criss-cross-right 0.8s both alternate;
}
  
@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 32px;
    height: 32px;
  }
  100% {
    left: 50%;
    width: 480px;
    height: 480px;
  }
}
  
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  64% {
    right: 50%;
	width: 56px;
	height: 56px;
  }
  100% {
    right: 50%;
    width: 480px;
    height: 480px;
  }
}

/* -------------------------------------------------------- */
/*      Button 3                                            */
/* -------------------------------------------------------- */
.button-3 {
  --clr: #924f09;
  --fg: #351901;
  border: none;
  position: relative;
  filter: drop-shadow(.1em .1em .1em color-mix(in srgb, var(--clr), transparent 50%));
 }

.button-3:before {
  --clrs1: color-mix(in lab, var(--clr), #0000 50%);
  --clrs2: color-mix(in lab, var(--clr), #0000 20%);
  --clrs3: color-mix(in lab, var(--clr), #0000 60%);
  --clrs4: color-mix(in lab, var(--clr), #0000 98%);
    position: absolute;
    content: '';
    inset: 0;
    padding: .1em;
    border: 4px double var(--clr);
    border-radius: .1em .2em / .5em .23em;
    z-index: -1;
    transition: .25s ease;
    background: var(--fg)
    linear-gradient(178deg, 
      var(--clrs1),
      var(--clrs2) 20% 70%,
      var(--clrs3) 90%,
      var(--clrs4)) 0 0 / 100% .3rem;
	filter: url("#squiggly-0");
}

.button-3:before {  
    filter: url("#squiggly-0"); 
}

.button-3:active:before {
    filter: url("#squiggly-5");
}

/* -------------------------------------------------------- */
/*      Button 4                                            */
/* -------------------------------------------------------- */
.button-4 {
  appearance: none;
  outline: none;
  background: none;
  position: relative;
  overflow: hidden;

  border: solid 3px #924f09 !important;
  border-bottom-left-radius: 8px 216px;
  border-bottom-right-radius: 216px 8px;
  border-top-left-radius: 216px 8px;
  border-top-right-radius: 16px 216px;
}

.button-4 span {
  position: relative;
  z-index: 2;
}

.button-4:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 0;
  height: 0;
  background-color: #924f09;
  border-radius: 999px;
  transition: 0.8s ease-out;
}

.button-4:hover:after {
  width: 200%;
  padding-top: 200%;
}

/* -------------------------------------------------------- */
/*      Button 5 & 6                                        */
/* -------------------------------------------------------- */
.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.button-5,
.button-6 {
  border: none;
  box-sizing: border-box;
  width: 280px;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: .4em;
  line-height: 2.4em;
  
  transform-style: preserve-3d;
  
  --clr: #924f09;
  --fg: #351901;
  border: none;
  position: relative;
  filter: drop-shadow(.1em .1em .1em color-mix(in srgb, var(--clr), transparent 50%));
}

.button-5 {
  background: linear-gradient(to right, #613304, #924f09);
  text-align: right;
  padding-right: 96px;
  transform: perspective(440px) rotateY(45deg);
  
  position: relative;
  right: 16%;
}

.button-6 {
  background: linear-gradient(to left, #613304, #924f09);
  text-align: left;
  padding-left: 96px;
  transform: perspective(440px) rotateY(-45deg);
  position: relative;
  left: 16%;
}

.button-5:hover {
  transform: perspective(240px) rotateY(45deg);
  padding-right: 48px;
}

.button-6:hover {
  transform: perspective(240px) rotateY(-45deg);
  padding-left: 48px;
}

.button-5:before,
.button-6:before {
  --clrs1: color-mix(in lab, var(--clr), #0000 50%);
  --clrs2: color-mix(in lab, var(--clr), #0000 20%);
  --clrs3: color-mix(in lab, var(--clr), #0000 60%);
  --clrs4: color-mix(in lab, var(--clr), #0000 88%);
    position: absolute;
    content: '';
    inset: 0;
    padding: .1em;
    border: 4px double var(--clr);
    border-radius: .1em .2em / .5em .23em;
    z-index: -1;
    transition: .25s ease;
    background: var(--fg)
    linear-gradient(178deg, 
      var(--clrs1),
      var(--clrs2) 48% 80%,
      var(--clrs3) 90%,
      var(--clrs4)) 0 0 / 100% .3rem;
	filter: url("#squiggly-5");
}

.button-5 span {
  position: relative;
  top: 50%;
  right: 32%;
  transform: none;
}

.button-6 span {
  position: relative;
  top: 50%;
  left: 32%;
  transform: none;
}

.pole {
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 280px;
	filter: url("#squiggly-5");
  
  --clr: #924f09;
  --clrs1: color-mix(in lab, var(--clr), #0000 50%);
  --clrs2: color-mix(in lab, var(--clr), #0000 20%);
  --clrs3: color-mix(in lab, var(--clr), #0000 60%);
  --clrs4: color-mix(in lab, var(--clr), #0000 88%);
  background: #613304
    linear-gradient(to right,
      var(--clrs1) 0%, 
      var(--clrs2) 20%,
      var(--clrs3) 50%, 
      var(--clrs4) 80%) 0 0 / 2px 100%; 
}
